.main-navigation {
  height: fit-content;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;

  li {
    @extend a !optional;
    padding: 0;
    margin-bottom: 0;
    height: auto;

    & + li {
      margin-left: 1.25rem;
    }
  }
}
