@import "../../style/styles.scss";

$button-color: black;
$button-text-color: white;
$border-thickness: 2px;
$border-radius: 4px;

.button-group {
  display: inline-flex;
  flex-direction: row;
  width: auto;
}

.button {
  min-height: 44pt;
  padding: 0.8rem 1.5rem;
  border: 2px solid black;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  &[button-type="primary"] {
    background: black;
    color: white;

    &:hover {
      background: adjust-color($color: #000000, $lightness: 20%);
    }
  }

  &[button-type="secondary"] {
    background: none;
    color: black;

    &:hover {
      background: adjust-color($color: #ffffff, $lightness: -10%);
    }
  }

  &[button-type="tertiary"] {
    background: none;
    color: black;
    border: none;

    a {
      text-decoration: underline;
    }

    &:hover {
      background: adjust-color($color: #ffffff, $lightness: -10%);
    }
  }

  &.has-icon {
    display: inline-flex;

    // Icons inside of button
    .icon {
      fill: white;
    }

    .icon-left {
      margin-right: 8px;
    }

    .icon-right {
      margin-left: 8px;
    }
  }

  &:focus {
    outline-color: darkslategrey;
  }

  & + & {
    margin-left: 1rem;

    @include breakpoint(phone) {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}
