@import "../../style/styles.scss";

$button-color: black;
$button-text-color: white;
$border-thickness: 2px;
$border-radius: 4px;

.button-group {
  display: inline-flex;
  width: auto;

  &[orientation="row"] {
    .button + .button {
      margin: 0 $unit300 !important;
    }
  }

  &[orientation="column"] {
    flex-direction: column;

    .button + .button {
      margin-top: $unit200;
    }
  }
}

.button {
  padding: 0.8rem 1.5rem;
  border: $border-thickness solid #000000dc;
  border-radius: $border-radius;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  a {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  &[button-type="primary"] {
    background: $button-color;
    color: white;

    &:hover {
      background: adjust-color($color: $button-color, $lightness: 20%);
    }
  }

  &[button-type="secondary"] {
    background: none;
    color: black;

    &:hover {
      background: adjust-color($color: #ffffff, $lightness: -10%);
    }
  }

  &[button-type="tertiary"] {
    background: none;
    color: black;
    border: none;

    a {
      text-decoration: underline;
    }

    &:hover {
      background: adjust-color($color: #ffffff, $lightness: -10%);
    }
  }

  &.has-icon {
    display: inline-flex;

    .button-text {
      display: inline-block;
      position: relative;
      top: -2px;
    }

    // Icons inside of button
    .icon {
      fill: white;
      display: inline-block;
      position: relative;
      top: 2px;

      &.icon-left {
        margin-right: 12px;
      }

      &.icon-right {
        margin-left: 12px;
      }
    }
  }

  &:focus {
    outline-color: darkslategrey;
  }
}
