@import "../../style/styles.scss";

$padding: 24px;
$max-width: 1440px;

#layout {
  width: 100vw;
  padding: $padding;

  @include breakpoint(large) {
    width: 1440px;
    margin: 0 auto;
  }

  @include breakpoint(small) {
    padding: 20px;
  }
}
