$unit100: 8px;
$unit200: $unit100 * 2; // 16px
$unit300: $unit100 * 3; // 24px
$unit400: $unit100 * 4; // 32px
$unit500: $unit100 * 6; // 48px
$unit600: $unit100 * 8; // 64px
$unit700: $unit100 * 10; // 80px
$unit800: $unit100 * 13; // 104px
$unit900: $unit100 * 16; //128px
