@import "./font-files/fontface";

$base-size: 20px;
$base-ratio: 1.4;

body {
  font-family: "Inter", sans-serif;
  font-size: $base-size; // 1rem
}

h1 {
  font-size: 1rem * ($base-ratio * 3);
}

h2 {
  font-size: 1rem * ($base-ratio * 2.7);
}

h3 {
  font-size: 1rem * ($base-ratio * 2.4);
}

h4 {
  font-size: 1rem * ($base-ratio * 2);
}

h5 {
  font-size: 1rem * ($base-ratio * 1.8);
}

h6 {
  font-size: 1rem * $base-ratio;
}

p {
  font-size: 1rem;
}

a {
  @extend p;
  color: inherit;
  text-decoration: solid black;
}
